* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family:  Calibri, sans-serif;
}

.nav_section {
   display: flex;
   align-items: center;
   justify-content: center;
}

.menu_bar{
    display: flex;
    gap: 9rem;
    /* justify-content: space-evenly; */
    /* justify-self: space-between; */
    /* align-items: center; */
    margin: 10px 40px;
}

.list_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list_items {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
    justify-content: center;
   
}

.list__items {
    transition: all .5s ease-in-out;
    font-weight: 600;
}

.list__items:hover {
    cursor: pointer;
    font-weight: 800;
    color: rgba(67, 65, 65, 0.842);
    transform: scale(1.3);
}

.log_in_btn {
    width: 8rem;
    height: 2rem;
    margin-right: 5px;
    background-color: purple;
    font-size: 1.2rem;
    border-radius: 40px;
    color: #fff;
    font-weight: 800;
    border: none;
    transition: all .3s ease-in-out;
}

.log_in_btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.cover_section {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    margin: 40px;
    /* border: 1px solid red; */
    height: 35rem;
    /* padding: 1rem; */
}

.cover_img {
    width: 35rem;
    height: 38rem;
}

.cover__img {
    width: 100%;
    height: 38rem;
    object-fit: cover;
    padding: 2.5rem;
    border-radius: 50px;
    /* margin-right: 2rem;
    margin-top: 2rem; */
    /* border: 2px solid goldenrod; */
}

.cover_header {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 38rem; */
    gap: 3rem;
    /* border: 2px solid goldenrod; */
    /* align-items: baseline;
    justify-content: baseline; */
}
.cover__header {
    font-size: 2.8rem;
    align-self: flex-start;
    
    text-transform: capitalize;
    line-height: 1.2;
}

.cover_body {
    font-size: 1.1rem;
}

.search__bar {
    display: flex;
}

.search_bar {
    /* border: 2px solid yellow; */
    width: 38rem;
    height: 2.8rem;
    border-radius: 20px;
    margin-right: 1rem;
    /* position: relative; */
    background-color: rgba(214, 207, 207, 0.439);
    border: none;
}

.search_btn {
    /* position: absolute; */
    /* justify-self: flex-end; */
    width: 6rem;
    height: 2.8rem;
    margin-left: -7rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius:20px ;
    border: none;
    left: 570px;
    background-color: purple;
    color: #fff;
}

.cover_footer {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
    /* border: 1px solid red; */
}

.body_section {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured_listings {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* margin: 40px; */
    align-items: flex-start;
    /* border: 2px solid yellow;  */
    padding: 10px;

}

.featured__listings {
    /* width: 40rem; */
     display: flex;
    gap: 20rem;
    align-items: center;
    justify-content: space-between;
}

.featured_listings_header {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 800;
}

.featured_listings_description {
    width: 40rem;
}

.featured_listings_cards {
    display: flex;
    gap: 1rem;
    margin: 40px 0;
    align-items: center;
    justify-content: center;
}

.featured_listing_card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 2rem 0;
    gap: 1.2rem;
}

.card_img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
   border-radius: 25px;
   position: relative;
}

.price_btn {
    position: absolute;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    margin: 5px;
    color: #fff;
    background-color: rgba(152, 6, 152, 0.614);
}

.listing_name {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.listing_type {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: capitalize;
}

.listing_location {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.svgs {
    width: 25px;
    height: 30px;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.explore_header {
    text-transform: capitalize;
    padding: 20px 0;
}

/* .explore_fields {
    align-self: flex-start;
} */

.explore_field_btn {
    /* width: 6.4rem; */
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0 8px;
}

.explore_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.explore_card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 20rem;
    margin: 1.5rem 0;
    background-color: rgba(223, 221, 219, 0.613);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(125, 124, 124, 0.623);
    transition: all 0.3s ease;
}

.explore_card_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}

.explore_card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card_img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
}

.box {
    width: 25rem;
    height: 15rem;
    margin: 10px;
}

.box:nth-child(even) {
    width: 50rem;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    background-color: rgba(223, 221, 219, 0.689);
    border-radius: 20px;
    transition: all .5s ease;
}

.pp {
    width: 20rem;   
    padding: 1rem;
    font-size: 1rem;
    font-family: Cambria,  'Times New Roman', serif;    
}

.box:nth-child(even):hover {
    width: 25rem ;
    opacity: 1;
}

.super_cont {
    display: flex;
    position: relative;
}

.renting_section {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 40px -10px;
}

.trends_ {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1250px;
    gap: 10px;
    /* border: 1px solid red; */
}

.trends_bg {
    position: relative;
    width: 1250px;
    height: 600px;
}

.trengs_bg_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.trends_info {
    position: absolute;
    left: 50%;
    top: 10%;
    
}